<h3>Counter</h3>
<div #counte id="counte" ></div>


<button id="start" (click)="start()">Start</button>
<button id="pause" (click)="pause()">Pause</button>
<button id="reset" (click)="reset()">Reset</button>
<h2>UP y Down</h2>
<button id="up" (click)="countUp('up')">Up </button>
<button id="down" (click)="countDown()">Down </button>
<h2>Set</h2>
<input type="number" id="set" #set value="1">
<!-- <button id="setT" (click)="setValue" >set</button> -->

<h2>Set To</h2>
<input #incrementoo type="number" id="incrementoo">
<button id="numberIncremt">incremento</button>

